fastapi 
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
aiofiles
langchain 
langchain-community
PyMuPDF
Motor 
openai 
cohere
qdrant-client
SQLAlchemy
asyncpg
alembic
psycopg2-binary
pgvector
nltk

# Monitring and metrics 
prometheus-client
starlette-exporter

# Health checks
fastapi-health